/*Animations*/

/*Triangle animation*/
@-webkit-keyframes scaleMe{
  0% {
    opacity: 0;
     -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scaleMe{
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes scaleMe {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes pot2 {
	0% {transform: translate(0, 0);}
	25% {transform: translate(-1px, 1px);}
	50% {transform: translate(-1px, -1px);}
	75% {transform: translate(1px, 1px);}
	100% {transform: translate(0, 0);}
}
			
@-moz-keyframes pot2 /* Firefox */{
	0% {-moz-transform: translate(0, 0);}
	25% {-moz-transform: translate(-1px, 1px);}
	50% {-moz-transform: translate(-1px, 0);}
	75% {-moz-transform: translate(1px, 1px);}
	100% {-moz-transform: translate(0, 0);}
}
			
@-webkit-keyframes pot2 /* Safari and Chrome */{
	0% {-webkit-transform: translate(0, 0);}
	25% {-webkit-transform: translate(-1px, 1px);}
	50% {-webkit-transform: translate(-1px, -1px);}
	75% {-webkit-transform: translate(1px, 1px);}
	100% {-webkit-transform: translate(0, 0);}

}


@keyframes pot1 {
		0% {transform: translate(0, 0);}
		25% {transform: translate(1px, 1px);}
		50% {transform: translate(1px, -1px);}
		75% {transform: translate(-1px, 1px);}
		100% {transform: translate(0, 0);}
	}
			
	@-moz-keyframes pot1 /* Firefox */{
		0% {-moz-transform: translate(0, 0);}
		25% {-moz-transform: translate(1px, 1px);}
		50% {-moz-transform: translate(1px, -1px);}
		75% {-moz-transform: translate(-1px, 1px);}
		100% {-moz-transform: translate(0, 0);}
	}
			
	@-webkit-keyframes pot1 /* Safari and Chrome */{
		0% {-webkit-transform: translate(0, 0);}
		25% {-webkit-transform: translate(1px, 1px);}
		50% {-webkit-transform: translate(1px, -1px);}
		75% {-webkit-transform: translate(-1px, 1px);}
		100% {-webkit-transform: translate(0, 0);}
	}

  @-webkit-keyframes FillIn {
    from { height: 108px; bottom: 0;}
    to { height: 0; bottom: 0;}
  }

  @-moz-keyframes FillIn {
    from { height: 108px;bottom: 0; }
    to { 0px; bottom: 0;}
  }

  @keyframes FillIn {
    from { height: 108px; bottom: 0;}
    to { height:0px; bottom: 0;}
  }


  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(60px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
  }
  @-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
      -moz-transform: translateY(60px);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(0px);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }

  }


@-webkit-keyframes animateBubble {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        bottom: 40px;
        opacity: 0;
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes animateBubble {
    0% {


    -moz-transform: scale(1);
    opacity: 1;

    }
    100% {
        bottom: 40px;
        opacity: 0;
        -moz-transform: scale(0);
    }
}

@keyframes animateBubble {
    0% {
        
        transform: scale(1);
        opacity: 1;
    }
    100% {
        bottom: 40px;
        opacity: 0;
        transform: scale(0);
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:10px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:10px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:10px;
    }
}



