@font-face {
    font-family: 'museo300';

    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}



html {
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
	line-height: 1.43333;
	background: #fff;
	font-family: 'museo300', Verdana, sans-serif;
}

body.body-color {
	background-color: #f20862;
}


h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	line-height: 1;
}

h1, h2, h3 {
	font-family: 'anzeigen-grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 0.8;
	letter-spacing: -0.8px;

}


.thin {
    margin-left: -5px !important;
    margin-right: -5px !important;
}


.news-cell-article {
	overflow: hidden;
}



.thin > div[class^="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

.no-padding > .row > div[class^="col-"] {
	padding-right: 0 !important;
	padding-left: 0 !important;
}


.black-header,
.white-header {
	font-size:7.4rem;
	text-transform: uppercase;
}

.black-header {
	color: #000;
}

.white-header {
	color: #fff;
}

.right-align-header {
	text-align: right;
	width: 100%;
	display: inline-block;
	float: right;
}

.left-align-header {
	text-align: left;
	float: left;
	width: 100%;
	display: inline-block;

}

.right-align-header {
	text-align: right;
}

p {
	line-height: 1.43333;
	color: #000;
}

a {
	text-decoration: none;
	outline: none !important;
}

a:focus,
a:hover {
	text-decoration: none;
}

.call-btn {
	display: inline-block;
	font-family: 'museo_sans500', Verdana, sans-serif;
	font-size: 1.6rem;
    font-weight: 400;
    height: 4rem;
    line-height:3.6rem;
    padding: 0 14px;
    text-align: center;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-decoration: none !important;
}


.call-t-btn {
	background-color: transparent;
	color: #000;
	border: 2px solid #000;
}

.call-t-btn:hover,
.call-t-btn:focus
{
	background-color:#fff;
	color: #000;
}

.call-b-btn {
	background-color: #000;
	color: #f9cb0d;
	border: 2px solid #000;
}

.call-b-w-btn {
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}

.call-b-btn:hover,
.call-b-w-btn:hover,
.call-b-w-btn:focus
 {
	color: #000;
	background-color: #fff;
	border: 2px solid #000;
}

.call-b-btn:focus
 {
	color: #f9cb0d;
}

.call-y-btn {
	background-color: #f9cb0d;
	color: #000;
	border: 2px solid #f9cb0d;
}

.call-y-btn:hover {
	background-color: #000;
	color: #f9cb0d;
	border: 2px solid #000;
}

.call-y-btn:focus {
	color: #fff;
}


.call-w-btn {
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
}

.call-w-btn:hover {
	background-color: #000;
	color: #fff;
	border: 2px solid #000;
}

.call-w-btn:focus {
	color: #000;
	background-color: #fff;
	border: 2px solid #000;
}


/*Sections*/
.section {
	position: relative;
	overflow: hidden;
}

#what-we-do{
	background-color: #fff;
	min-height:800px;
	height: 32vw;

}


#who-we-are {
	position: relative;
	background-color: #f9cb0d;
	min-height: 850px;
}


#how-we-do-it {
	position: relative;
	background-color: #fff;
	min-height: 800px;

}

#realising-a-return{
	position: relative;
	background-color: #9700bc;
	min-height: 900px;
}

#who-we-do-it-for {
	min-height: 850px;
}

#news-section {
	background-color: #fff;
}



/*Top*/
.main-heading {
	text-transform: uppercase;
	font-size: 5.0rem;
	line-height: 1.1;

}


/*Header*/

#main-header {
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 1000;
	background-color: #fff;

	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#main-header.shadow-header {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.nav-panel {
	position: relative;
	width: 100%;
}


.nav-panel .switcher-wrapper {
	z-index: 1000;
	position: absolute;
	transform:translateY(-50%);
	top: 50%;
	right: 0;
	width: 55px;
	height: 40px;
	padding: 8px;
	
}

.nav-panel .switcher-wrapper #mob-nav {
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	position: relative;
	display: block;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.nav-panel .switcher-wrapper #mob-nav span {
	background: #000;
	height: 5px;
	width: 100%;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	position: absolute;
	left: 0;
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	opacity: 1;

}

.nav-panel .switcher-wrapper #mob-nav span.slice1 {
	top: 0;
	transform-origin:left center 0;
	-webkit-transform-origin:left center 0;
}

.nav-panel .switcher-wrapper #mob-nav span.slice2 {
	top: 10px;
	transform-origin:left center 0;
	-webkit-transform-origin:left center 0;
}

.nav-panel .switcher-wrapper #mob-nav span.slice3 {
	top: 20px;
	transform-origin:left center 0;
	-webkit-transform-origin:left center 0;
}


.bottom-elements {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 700;
}

.bottom-elements.bottom-shape {
	z-index: 6;
}

.bottle-rotate {
	position: relative;
	left: 43.5%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width: 88px;
	height: 140px;
	background: url('../img/bottle-rotate.png') no-repeat;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	display: inline-block;
	margin-bottom: -7px;
}

.bottle-rotate.rotate-me {
	 transform:rotateZ(145deg);
	 -webkit-transform:rotateZ(145deg);
}

.bottles-container {
	overflow: hidden;
}

.bottles {
	position: relative;
	display: inline-block;
	margin-bottom: -7px;
}

.bottles.bottles-right-1 {
	left: 53%;
	background: url('../img/bottle-1.png') no-repeat;
	width: 91px;
	height: 157px;
}

.section-top {
	position: relative;
	z-index: 900;
}

.bottles.bottles-right-2 {
	left: 53.5%;
	width: 64px;
	height: 111px;
	background: url('../img/bottle-2.png') no-repeat;

}

.bottles.bottles-right-3 {
	left: 56%;
	width: 81px;
	height: 141px;
	background: url('../img/bottle-3.png') no-repeat;

}

.bottles.bottles-right-4 {
	left: 53.777%;
	width: 62px;
	height: 105px;
	background: url('../img/bottle-4.png') no-repeat;

}

.shake1,
.shake2 {
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
}

.bottles.bottles-right-3.shake1 {
	animation: pot2 .3s;-moz-animation: pot2 .3s; /* Firefox */
	-webkit-animation: pot2 .3s; /* Safari and Chrome */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear; 
	-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
}

.bottles.bottles-right-4.shake2 {
	animation: pot1 .3s;-moz-animation: pot1 .3s; /* Firefox */
	-webkit-animation: pot1 .3s; /* Safari and Chrome */
	animation-iteration-count: infinite;animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;-moz-animation-timing-function: linear; 
	-webkit-animation-iteration-count: infinite;-webkit-animation-timing-function: linear;
}


.bottles-right-wrapper {
	position: relative;
	width: 400px;
	height: 50px;
	bottom: 0;
	background-color: red;
	display: inline-block;
	margin-bottom: -7px;

}

.main-container {
	margin-top:108px;
}

.top-headers {
	max-width: 600px;
}

.cell-left,
.cell-right {
	display: table;
	width: 100%;
	height: 100%;
}

.left-button-w {
	float: left;
	width: 100%;
}

.right-button-w {
	float: right;
	width: 100%;
}

.cell-inside {
	display: table-cell;
	vertical-align: middle;
}

.cell-inside.cell-top {
	vertical-align: top;
}

.cell-left h1 span,
.cell-left h2 span
 {
	display: block;
}

.hero-wrapper {
	/*width: 85%;*/
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.hero-wrapper.change-size {
	width: 85%;
}

.hero-wrapper.hero-small {
	width: 75%;
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

.hero-wrapper img,
.hero-wrapper.change-size img
 {
	margin: 0 auto;
	width: 100%;
}

.cell-inside .top-text-box {
	margin: 25px 0;
	max-width: 480px;
	width: 100%;
}



.cell-inside .top-text-box.text-box-left {
	float: left;
	text-align: left;
}

.cell-inside .top-text-box.text-box-right {
	float: right;
	text-align: right;
}

.cell-inside p {
	margin-bottom: 15px;
}

.logo > a {
	display: block;
	padding: 30px 0 30px 0;
	outline: none !important;
}


.chemicals-all {
	position: relative;
	display: inline-block;
	margin-bottom: -7px;
}

.chemicals-left {
	width: 257px;
	height: 228px;
	left: 23%;
	overflow: hidden;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url('../img/chemicals-left.svg');
}

.chemicals-left .black-filler {
	bottom: 9px;
    height: 0;
    position: absolute;
    right: 12px;
    width: 67px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url('../img/black-filler-left.png');

	-webkit-transition:height 1.5s;
	-moz-transition: height 1.5s;
	transition: height 1.5s;

}

.chemicals-left .black-filler.fill-black {
	 height: 84px;
}

.bubbles-wrapper {
	bottom:15px;
    height: 65px;
    left: 28px;
    position: absolute;
    width: 75px;
    overflow: hidden;
}

.bubble {
	border-radius: 50%;
	background-color: #f9cb0d;
	position: absolute;

	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.bubble.big-bubble {
	 bottom: 33px;
    height: 20px;
    left: 35px;
    width: 20px;

 -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.bubble.medium-bubble {
	bottom: 10px;
    height: 15px;
    left: 3px;
    width: 15px;

	-webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
}


.bubble.medium-bubble.xm {
	left: 31px;
	bottom: 5px;

	 -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
}



.bubble.small-bubble {
	bottom: 10px;
    height: 10px;
    right: 3px;
    width: 10px;

    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
}


.bubble.small-bubble.xs {
	top: 16px;
	left: 10px;

	 -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
}


.yellow-pippet-shape {
	width: 70px;
	height: 276px;
	margin-left: -35px;
	left: 50%;
	background: url('../img/yellow-pippet.svg') no-repeat;
	position: absolute;
	bottom: 0;

}

.chemicals-right {
	width: 273px;
	height: 288px;
	left: 37%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url('../img/chemicals-right.svg');
}

.big-bubbles-container {
	bottom: 20px;
    height: 120px;
    position: absolute;
    right: 18px;
    width: 120px;
    overflow: hidden;
}

.p-bubbles {
	border-radius: 50%;
	background-color: #fff;
	position: absolute;

	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.p-bubbles.large-b {
	width: 25px;
	height: 25px;
	bottom: 45px;
	left: 14px;

	 -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
}


.p-bubbles.large-b.l1 {
	bottom: 55px;
    left: 73px;

    -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
}

.p-bubbles.medium-b {
	bottom: 72px;
    height: 12px;
    left: 34px;
    width: 12px;

     -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;


}

.p-bubbles.medium-b.m1 {
	left: 44px;
	bottom: 90px;

	-webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.three-pippets {
	width: 101px;
	height: 111px;
	left: 40%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: url('../img/three-pippets.svg');
}





.line-white, .line-black {
	width: 6px;
	position: absolute;
	background-color: #fff;
	top: 0;
	margin-left: -3px;
	left: 50%;
	height: 0px;
	z-index: 10;
}

.pippet-black-wrapper {
	position: absolute;
	left: 50%;
	margin-left:-73px;
	bottom: 120px;
	width:146px;
	height: 201px;
	z-index: 50;
	
}


.black-jar {
	position: absolute;
	left: 50%;
	margin-left:-73px;
	bottom: 120px;
	width:146px;
	height: 201px;
	overflow: hidden;
	background: url('../img/jar-black.svg') no-repeat;
	z-index: 50;
}

.measure {
	position: absolute;
	width: 30px;
	height: 120px;
	background: url('../img/measure.svg') no-repeat;
	z-index: 25px;
	bottom: 17px;
	z-index: 40;
	right: 48px;

}


.black-jar .filler-inside {
	background: url('../img/filler-black.png') no-repeat;
	width:100%;
	position: absolute;
	z-index: 2;
	bottom: 12px;
    height: 0px;
    left: 33px;
    z-index: 20;
}


.pippet-two {
	position: absolute;
	left: 50%;
	margin-left:-73px;
	bottom: 120px;
	width:146px;
	height: 201px;
	z-index: 50;
}


.line-black {
	background-color: #000;
}

.line-wrapper {
	position: absolute;
	overflow: hidden;
	width: 8px;
	left: 50%;
	margin-left:-5px;
	z-index: 20;
	margin-left: -4px;
}

#realising-a-return .text-box-left p {
	color: #fff;
}

#realising-a-return .call-b-btn {
	color: #fff;
}

#realising-a-return .call-b-btn:hover,
#realising-a-return .call-b-btn:focus {
	color: #000;
}

#realising-a-return .call-b-btn:focus {
	color: #ffffff;
	background: #000000;
}

.jar-white-wrapper{
	position: absolute;
	width: 146px;
	height: 201px;
	top: -205px;
	left: 50%;
	margin-left: -73px;
	z-index: 90;
}

.jar-white-wrapper .jar-white {
	position: absolute;
	width: 146px;
	height: 201px;
	left: 50%;
	margin-left: -73px;
	background: url('../img/jar-white.svg') no-repeat;
}

.flame {
	position: absolute;
	bottom: 40px;
	width: 62px;
	height: 83px;
	margin-left: -31px;
	left: 50%;
	background: url('../img/flame.svg') no-repeat;
	display: none;

}

.bubbles-container {
	background: url("../img/bubbles.svg") no-repeat;
    display: block;
    height: 170px;
    left: 50%;
    margin-left: -69px;
    opacity: 0;
    position: absolute;
    top: 260px;
    width: 138px;
    z-index: 80;
}

.bubbles-container.start-bubbles {
	-webkit-animation: fadeInUp 2.0s linear forwards;
  -moz-animation: fadeInUp 2.0s linear forwards;
  -ms-animation: fadeInUp 2.0s linear forwards;
}



.pippet-long-wrapper {
	position: absolute;
	width: 56px;
	height: 349px;
	overflow: hidden;
	margin-left: -28px;
	left: 50%;
	top: 0;
	z-index: 20;
}

#pippet-long-full {
	position: absolute;
	width: 56px;
	height: 349px;
	overflow: hidden;
	margin-left: -28px;
	left: 50%;
	top: 0;
	z-index: 20;
	background: url('../img/pippet-full-long.png') no-repeat;
}

.pippet-grey-filler {
	bottom: 0;
    height: 108px;
    left: 15px;
    position: absolute;
    width: 26px;
	background: url('../img/grey-shape.png') no-repeat;
}

.pippet-grey-filler.start-drawing {
	-webkit-animation-timing-function: ease-in-out;
-moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration: 1;
  -moz-animation-iteration: 1;
  animation-iteration: 1;
  
 animation-name: FillIn;
-moz-animation-name: FillIn;
-webkit-animation-name: FillIn;

-webkit-animation-duration: 2s, 1s, 1s;
-moz-animation-duration: 2s, 1s, 1s;
  animation-duration: 2s, 1s, 1s;

}

.pippet-long-wrapper.skrollable-after #pippet-long-full .grey-path {
	fill: #CCCBCB;
	position: relative;
	z-index: 700;
}

#triangle-rainbow {
	width: 100%;
	position: relative;
	margin-bottom: -10px;
	height: 200px;
}


.mask-pippet {
	bottom: -12px;
    height: 70px;
    left: 0;
    position: absolute;
    width: 59px;
    z-index: 700;
	background: url('../img/mask.png') no-repeat;
}


.pippet-long .grey-bck-pippet {
	bottom: 16px;
    height: 79px;
    left: 8px;
    position: absolute;
    width: 26px;
	background: url('../img/grey-shape.png') no-repeat;
	z-index: 10;
}

#triangle-svg {
	display: block;
	height: 250px;
	transform-origin: center top 0;
	-webkit-transform-origin: center top 0;
	transform:scale(0);
	-webkit-transform:scale(0);
	opacity: 0;

	-webkit-transition: all .3s ease-on-out;
	-o-transition: all .3s ease-on-out;
	transition: all .3s ease-on-out;
}


#triangle-svg.animate-shape {
	-webkit-animation: scaleMe 2.0s linear forwards;
  	-moz-animation: scaleMe 2.0s linear forwards;
  	-ms-animation: scaleMe 2.0s linear forwards;	
}


.animate-first-icon {
	-webkit-animation: scaleMe 1.5s linear forwards;
  	-moz-animation: scaleMe 1.5s linear forwards;
  	-ms-animation: scaleMe 1.5s linear forwards;
}

/*News sections*/
.news-box,
.news-box-w
 {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	/*padding-bottom: 50%;*/
	height: 550px;
}

.location-wrapper {
	margin-bottom: 20px;
}

.location-wrapper div {
	font-size: 1.8rem;
	font-weight: bold;
}

.news-box-w {
	height: auto;
}


.news-box.news-l {
	background-image: url('../img/clients.jpg');
}



.news-box.news-r {
	background-image: url('../img/events.jpg');
}

.news-box.news-l .news-inside,
.news-box.news-r .news-inside {
	position: absolute;
	height: 60%;
	width: 100%;
	left: 0;
	bottom: 0;
}

.news-box.news-l .news-inside {
	background: #89d6f1;
}

.news-box.news-r .news-inside {
	background: #ed1564;
}

.news-box.news-l .news-inside:before,
.news-box.news-r .news-inside:before {
	content: '';
  	position: absolute;
  	top: -50px;
  	width: 100%;
 	height: 105px;
 	-webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-backface-visibility: hidden;
}

.news-box.news-l .news-inside:before{	
  background: #89d6f1;
  left: 0;
}

.news-box.news-r .news-inside:before{	
 background: #ed1564;
 left: 0;
}

.news-cont {
	padding: 0px 40px 0px 40px;
	max-width: 640px;
	margin: 30px auto 20px auto;
	position: relative;
	color: #fff;
	text-align: center;
}

.article-inner-header {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-bottom: 15%;
}

.archive .news-article {
	/*height: 550px;*/
	overflow: hidden;
}


.archive .news-article .article-inner-header {
	padding-bottom:35%;
}

.single-article {
	height: auto !important;
}

.single-article .article-inner-header {
	padding-bottom:20%;
}

.news-article .main-inner {
	height: 100%;
}

.main-inner {
	background: #00bcd4;
    position: relative;
    color: #fff;
}

.main-inner:before {
	backface-visibility: hidden;
    content: "";
    height: 260px;
    left: 0;
    position: absolute;
    top: -130px;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    width: 100%;
    z-index: 50;
}


.post-0 .main-inner {
	background: #f20862;
}

.post-0 .main-inner:before {
	background: #f20862;
}


.post-1 .main-inner {
	background: #9700bc;
}

.post-1 .main-inner:before {
	background: #9700bc;
}


.post-2 .main-inner {
	background: #f9cb0d;
}

.post-2 .main-inner:before {
	background: #f9cb0d;
}


.post-3 .main-inner {
	background: #89d6f1;
}

.post-3 .main-inner:before {
	background: #89d6f1;
}


.post-content {
	position: relative;
	z-index: 100;
	top: -60px;
}

.post-content a {
	color: #fff;
	text-decoration: underline;
}


.post-content-inner {
	padding: 0 60px 30px 60px;
	max-width: 1300px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.post-content-inner strong {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 700;
}

.single .post-content-inner {
	text-align: left;
}

.post-content-inner p {
	color: #fff;
	margin-bottom: 15px;
}

.post-0 .news-box.news-l .news-inside:before {
	background: #f20862;
}

.post-0 .news-box.news-l .news-inside {
	background: #f20862;
}

.post-1 .news-box.news-l .news-inside:before {
	background: #9700bc;
}

.post-1 .news-box.news-l .news-inside {
	background: #9700bc;
}


.post-2 .news-box.news-l .news-inside:before {
	background: #f9cb0d;
}

.post-2 .news-box.news-l .news-inside {
	background: #f9cb0d;
}

.post-3 .news-box.news-l .news-inside:before {
	background:#89d6f1;
}

.post-3 .news-box.news-l .news-inside {
	background: #89d6f1;
}

.post-main-header {
	margin-bottom: 25px;
}

.post-main-header h3 {
	margin-bottom: 0;
}

.post-navigation {
	margin-top: 20px;
}

.social-share-list {
	float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social-share-list li {
	float: left;
    margin-right: 10px;
}

.social-share-list li:last-child {
	margin-right:0px;
}

.social-share-list li a {
	border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 1.8rem;
    height: 34px;
    line-height: 32px;
    text-align: center;
    width: 34px;
}

	


.nav-links,
.post-navigation
 {
	float: left;
	width: 100%;
	
}

.nav-previous,
.nav-next {
	min-width: 200px;
	float: left;
}

.nav-next {
	float: right;
}


.nav-previous a,
.nav-next a {
	display: block;
	padding: 8px 20px;
	color: #fff;
	border:2px solid #fff;
	text-align: center;
}

.news-header {
	color: #fff;
	text-align: center;
	font-size: 4.6rem;
	text-transform: uppercase;
	margin-bottom: 0px;
	letter-spacing: 0.8px;
}

.news-smaller-header {
	font-size: 2.8rem;
	margin-top: 10px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 0.8px;
}

.news-header.black {
	color: #000;
	text-align: center;
	margin-bottom: 0;
}

.archive-main-header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 15px;
	text-align: center;
}

.archive-main-header .archive-header{
	text-transform: uppercase;
	font-size: 4.0rem;
}

.news-cont p {
	color: #fff;
	text-align: center;
}

.tran-btn {
	color: #fff;
	border: 1px solid #fff;
	margin:20px auto 0 auto;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

.tran-btn:hover {
	background:rgba(255,255,255,.3);
	color: #fff;
}



.news-btn {
	margin: 10px 10px 0 0;
}


.related-posts

 {
	margin: 20px 0;
}


.tran-btn:hover,
.tran-btn:focus {
	color: #fff;
}

.news-cell-new-r {
	width: 50%;
}

.data-wrapper {
	overflow: hidden;
	width: 100%;
	margin: 0px 0px 20px 0;
}

.data {
	 border: 2px solid #fff;
    float: left;
    font-family: "anzeigen-grotesk",sans-serif;
    height: 60px;
    padding: 10px;
    text-align: center;
    width: 60px;

}

.data span {
	display: block;
	text-transform: uppercase;
	font-size: 2.2rem;
	line-height: 0.8;
}

.data span.day {
	text-transform: lowercase;
}

.post-type-archive-news .news-header,
.post-type-archive-events .news-header {
	font-size: 3.6rem;
}

/*Pagination styles*/

.pagination_container {
	margin: 15px 0;
}
.pagination_container .wp-pagenavi:before,
.pagination_container .wp-pagenavi:after {
	content: '';
	display: table;
	height: 0;
	line-height: 0;
}

.pagination_container .wp-pagenavi:after {
	clear: both;
}

.pagination_container .wp-pagenavi  {
	text-align: center;
}

.pagination_container .wp-pagenavi a {
	display: inline-block;
	margin: 0px 10px;
	color: #aaaaaa;
	padding: 5px 10px;
	border: 1px solid #aaaaaa;
}

.pagination_container .wp-pagenavi .current {
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 10px;
	border: 1px solid #737373;
}

.pagination_container .wp-pagenavi a:hover,
.pagination_container .wp-pagenavi a:focus {
	color: #aaaaaa;
}

.pagination_container .wp-pagenavi .current {
	color: #737373;
}

.pagination_container .wp-pagenavi a.previouspostslink,
.pagination_container .wp-pagenavi a.nextpostslink {
	padding: 8px 30px;
	color: #fff;
	min-width: 200px;
}

.pagination_container .wp-pagenavi a.previouspostslink {
	background: #89d6f1;
}


.pagination_container .wp-pagenavi a.nextpostslink {
	background: #9700bc;
}

.preloader {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85) url('../img/ajax-loader.gif') center center no-repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10001;
}




/*Clients*/
#clients-banner {
	width: 100%;
	position: relative;
	background-image: url('../img/business-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment: fixed;
}

#clients-banner:after {
	position: absolute;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	color: #fff;
	left: 0;
	top: 0;
	content: "";
	z-index: 100;
}

.slogan-inside {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	top: 50%;
	z-index: 200;
	padding: 0 25px;
}

.slogan-inside h2 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}




#clients {
	background-color: #f9cb0d;
	padding: 70px 0;
	color: #000;
}

.subheader-section,
.sidebar-main-header
 {
	text-transform: uppercase;
	text-align: center;
	font-size: 4.6rem;
	margin-bottom: 15px;
	letter-spacing: 0.8px;

}


.subheader-section.black-sub {
	color: #000;
}

.subheader-section.white-sub {
	color: #fff;
}

#clients p {
	color: #000;
}

.box-logo-main {
	padding: 30px;
	width: 100%;
}

.box-logo-main .logo-box {
	display: block;
	border-radius:50%;
	cursor: none;
	width: 100%;
}

.box-logo-main a img {
	border-radius:50%;
	border:6px solid #e6e1e1;
	margin: 0 auto;
}

.clients-rotator .owl-dots,
.team-rotator .owl-dots,
.related-news-rotator .owl-dots

 {
    width: 100%;
    position: absolute;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.related-news-rotator .owl-dots {
	bottom: -50px;
}

.clients-rotator .owl-dots .owl-dot,
.team-rotator .owl-dots .owl-dot

 {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


.related-news-rotator .owl-dots .owl-dot {
	display: inline-block;
    margin-right: 10px;
}

.clients-rotator .owl-dots .owl-dot:last-child,
.team-rotator .owl-dots .owl-dot:last-child,
.related-news-rotator .owl-dots .owl-dot:last-child
 {
	margin-right: 0px;
}

.clients-rotator .owl-dot.active,
.team-rotator .owl-dot.active

 {
	background-color: #000;
}

/*Testimonials*/
.half-width::after {
    clear: both;
    content: "";
    display: table; 
}

#testimonials:after,
#testimonials:before {
	display: table;
	content: '';
	height: 0;
	line-height: 0;
}

#testimonials:after {
	clear: both;
}

.half-width {
	float: left;
    position: relative;
    width: 50%;
}

.half-width.orange {
	background: #f47706;
}

.half-width::before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.middle {
	left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    z-index: 300;
}

.testimonial-header span {
	display: block;
}

.middle.left {
	max-width: 400px;
}

.slider-section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url('../img/slider-bck.jpg');
	background-size: cover;
	position: relative;
}

.rotator-content {
	padding-left: 10%;
	padding-right: 4%;
	position: relative;
	color: #fff;
}

.mask {
	content: "";
	position: absolute;
	z-index: 200;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;

}

.testimonial-header-inside {
	color: #fff;
	margin-bottom: 10px;
}

.testimonial-header-inside p {
	 color: inherit;
    font-size: 1.8rem;
    /*letter-spacing: 0.8px;*/
    line-height: 1.4;
   /* text-transform: uppercase;*/
    /*font-family: 'anzeigen-grotesk', sans-serif;*/
}

.testimonial-list {
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}

.testimonial-list li {
	color: #fff;
	float: left;
	margin-right: 10px;
	font-weight: 700;
	font-size: 1.6rem;

}

.testimonial-list li:last-child {
	margin-right: 0px;
}

.testimonial-rotator .owl-dots {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: -80px;
    height: 20px;
    line-height: 20px;
}

.testimonial-rotator .owl-dots .owl-dot {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.testimonial-rotator .owl-dots .owl-dot:last-child {
	margin-right: 0px;
}

.testimonial-rotator .owl-dot.active {
	background-color: #f47706;
}

.testimonial-inner {
	position: relative;
	overflow: hidden;
}

#bottom-details {
	/*padding: 40px 0;*/
	background-color: #fff;
}

.contact-details {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.contact-details img {
	margin: 0 auto
}

.contact-wrapper {
	margin:20px 0 0px 0;
	text-align: center;
	color: #797979;
}

.contact-wrapper p,
.contact-wrapper p a,
.copyright
 {
	color: #797979;
}

.copyright {
	display: block;
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.4rem;

}

.copyright a {
	color: #797979;
	text-decoration: underline;
}




/*Footer*/
#footer-wrapper {
	padding: 10px;
	background: #000;
	position: fixed;
	bottom:0;
	left: 0;
	z-index: 1200;
	width: 100%;
}

.footer-inside {
	height:70px;
	border: 2px solid #fff;
	width: 100%;
	color: #fff;
}

.footer-left,
.footer-middle,
.footer-right {
	float: left;
	height: 100%;
}

.footer-left,
.footer-right {
	width:7%;
}

.footer-left,
.footer-right 
 {
	background-repeat: no-repeat;
	background-size: 60px auto;
	background-position: 50% 50%;
	background-image: url('../img/diamond.svg');
	border-right: 2px solid #fff;
}

.footer-right {
	border-right:0;
	border-left: 2px solid #fff;
}

.footer-middle {
	width: 86%;
}

.footer-content {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 15px;
}

.footer-header {
	 margin-right: 30px;
    margin-top: 20px;
	float: left;

}

.footer-header h3 {
	text-transform: uppercase;
	font-size: 3.5rem;
}

.footer-content .cnss-social-icon  {
	list-style: none;
	padding: 0;
	margin: 8px 0 0 0;
	float: left;
}


.footer-content .cnss-social-icon li:last-child {
	margin-right: 0px;
}

.footer-content .cnss-social-icon  li a {
	display: block;
}

.button-wrapper-contact {
	margin-top: 12px;
	float: right;
}

.contact-btn,
.read-more-btn
{
	border: 2px solid #fff;
	color:#fff;

}

.contact-btn:hover,
.read-more-btn:hover,
.contact-btn:focus,
.read-more-btn:focus
 {
	color: #fff;
}

/*Content text*/

.sliding-panel {
	position: absolute;
	background-color:#fff;
	width: 100%;
	height:100%;
	z-index: 900;
	left: 0;
	top: 0;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}


.home-slide.offCanvas,
.about-slide.offCanvas,
.services-slide.offCanvas,
.realising-slide.offCanvas

 {
	transform: translate(100%,0);
	-moz-transform: translate(100%,0);
	-webkit-transform: translate(100%,0);
}


.home-slide.onCanvas,
.about-slide.onCanvas,
.services-slide.onCanvas,
.realising-slide.onCanvas
 {
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}

.about-slide {
	background-color: #f9cb0d;
}

.realising-slide {
	background-color: #9700bc;
}


.close-topic {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	z-index: 60;
}

.close-topic.dark-close {
	background: url('../img/close-icon-menu-b.svg') no-repeat;
}


.close-topic.white-close {
	background: url('../img/close-icon-menu.svg') no-repeat;
}

/*Inside panels content*/

.inner-section {
	position: relative;
	left: 0;
	bottom: 0;
	z-index: 40;
	width: 100%;
	overflow-x: hidden;
    overflow-y: auto;
    max-height:750px;
    -webkit-overflow-scrolling: touch;
}

.topic-content-inside {
	overflow: hidden;
	padding: 50px 0;
}

.topic-content-inside blockquote {
	font-size: 1.6rem;
	border-left:2px solid #fff;
}

.topic-content-inside p br {
	display: inline-block;
	margin-bottom: 15px;
}

.topic-content-inside.padding-topic {
	padding: 100px 0 50px 0;
}



.inside-panel-header {
	margin-bottom: 20px;
}

.panel-inside-left p {
	margin-bottom: 15px;
}

.panel-inside-left p:last-child {
	margin-bottom: 0px;
}

.inside-panel-header h3 {
	font-family: 'anzeigen-grotesk', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 5.0rem;
	text-transform: uppercase;
}

.inside-panel-header h3 span {
	display: block;
}

.list-inside-home {
	color: #f9cb0d;
	padding-left: 10px;
}

.list-inside-services {
	color: #000;
	padding-left: 10px;
}

.list-inside-home li,
.list-inside-services li
 {
	font-weight: bold;
}


.list-inside-home li span,
.list-inside-services li span
 {
	color: #000;
}

.inner-scroll-wrapper {
	position: relative;
	overflow-x: hidden;
    overflow-y: auto;
   height: 100%;

}

.banner-spec {
	margin:0 auto;
	padding: 0;
	margin-bottom: 30px;
}

.banner-spec img {
	margin: 0 auto;
	text-align: center;
}

.team-box {
	text-align: center;
	color: #000;
	padding: 30px;
}

.team-rotator.owl-carousel .owl-item img {
	width: auto;
} 

.clients-rotator.owl-carousel .owl-item img {
	width: 100%;
}

.team-box figure {
	margin: 0 auto 20px auto;
	text-align: center;
}

.team-box figure img {
	margin: 0 auto;
}


.team-box .team-header {
	color: #000;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.8rem;
}

.team-rotator .owl-nav .owl-prev,
.team-rotator .owl-nav .owl-next
 {
	position: absolute;
	z-index: 800;
	top: 200px;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -999em;
}

.team-rotator .owl-nav .owl-prev {
	left: -30px;
	background: url('../img/arrow-prev.svg') no-repeat;

}

.team-rotator .owl-nav .owl-next {
	right: -30px;
	background: url('../img/arrow-next.svg') no-repeat;
}

#our-services {
	background:#78e6ff;
}

.button-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.button-list li {
	display: inline-block;
	margin-right: 8px;
}

.button-list li:last-child {
	margin-right: 0px;
}


.topic-content-inside.padding-realising {
	padding: 100px 0 50px 0;
	color: #fff;
}



.white-in {
	color: #fff;
}

.black-in {
	color: #000;
}

.topic-content-inside.padding-realising p {
	color: #fff;
}

.case-wrapper, 
.case-company
{
	margin-bottom: 15px;
}

.case-company {
	font-weight: 700;
}

/*SIDEBAR*/
#sidebar {
	position: fixed;
	width: 25%;
	overflow: hidden;
	z-index: 1500;
	top: 0;
	right: 0;
	height: 100%;
	color: #fff;
	font-family: "Oswald",Arial,Verdana,sans-serif;
	font-size: 3rem;
	background-color: #f20862;

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}

#sidebar.offCanvas {
	transform: translate(100%,0);
	-moz-transform: translate(100%,0);
	-webkit-transform: translate(100%,0);
}

#sidebar.onCanvas {
	transform: translate(0,0);
	-moz-transform: translate(0,0);
	-webkit-transform: translate(0,0);
}


#sidebar .menu-inner {
	height: 100%;
	position: relative;
	overflow-y: auto;
}

#sidebar .menu-inner nav {
	padding:100px 0 0 0;
	width: 80%;
	margin: 0 auto;
}

#sidebar .menu-inner nav .main-nav,
#sidebar .menu-inner nav .second-nav,
#sidebar .menu-inner nav .single-nav
 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#sidebar .menu-inner nav .main-nav li,
#sidebar .menu-inner nav .second-nav li,
#sidebar .menu-inner nav .single-nav li
 {
	margin-bottom: 10px;
}

#sidebar .menu-inner nav .main-nav li.current a {
	color: #000;
}

#sidebar .menu-inner nav .second-nav li:last-child,
#sidebar .menu-inner nav .single-nav li:last-child
 {
	margin-bottom: 0px;
}

#sidebar .menu-inner nav .main-nav li a,
#sidebar .menu-inner nav .second-nav li a,
#sidebar .menu-inner nav .single-nav li a
 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
}


.close-menu {
	width: 40px;
	height: 40px;
	background: url('../img/close-icon-menu.svg') no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
}

/*Page overview*/
.page-template-page-overview {
	background: #78e6ff;
}
#how-we-do-it-overview {
	padding: 50px 0;
	position: relative;
	background: #78e6ff;
}

.section-overview {
	margin-bottom: 20px;
	overflow: hidden;
	color: #000;
}

.section-overview .inner-overview-header {
	font-weight: bold;
	font-size:1.8rem;
	margin-bottom: 10px;
}

.ajax-row .cell figure {
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

/*Contact us panel*/
.contact-us-panel {
	position: fixed;
	z-index: 1200;
	height: 100%;
	width: 100%;
	bottom: 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	left: 0;
	background: #f20862;
	color: #fff;
	overflow: auto;
	padding-top: 100px;
	-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

}

.inner-panel-contact {
	position: relative;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}


.contact-us-panel.offBottom
 {
	transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
}


.contact-us-panel.onBottom

 {
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
}


/*Contact form*/

.address-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.address-list li span {
	font-weight: bold;
}

.address-list li a {
	color: #fff;
}

.form-wrapper {
	margin-top: 40px;
	overflow: hidden;
}

#contact-form-ctl {
	overflow: hidden;
}

.row-spacer {
	margin-bottom: 2%;
	overflow: hidden;
	width: 100%;
}

.spacer {
	width: 48%;
	float: left;
}

.spacer-left {
	margin-right: 2%;
}

.spacer-right {
	margin-left: 2%;
}

.spacer-full {
	width: 100%;
	float: left;
}

#contact-form-ctl .form-control {
	background-color:transparent;
	border: 1px solid #fff;
	border-radius:0 !important;
	box-shadow: none;
	color: #fff;
}



#contact-form-ctl input[type="text"],
#contact-form-ctl input[type="email"],
#contact-form-ctl input[type="tel"],
#contact-form-ctl textarea {
	background-color:transparent;
	border: 1px solid #fff;
	border-radius:0 !important;
	box-shadow: none;
	color: #fff;
	width: 100%;
	line-height: 34px;
	padding: 10px;
}


#contact-form-ctl input[type="text"],
#contact-form-ctl input[type="email"],
#contact-form-ctl input[type="tel"] {
	line-height: 24px;
	/*height: 40px;*/
}

#contact-form-ctl textarea {
	width: 100%;
	padding: 10px;
	max-height: 250px;
}

#contact-form-ctl span.wpcf7-not-valid-tip {
	color: #fff !important;
}


#contact-form-ctl div.wpcf7-mail-sent-ok {
    border: 2px solid #fff;
}


#contact-form-ctl div.wpcf7-mail-sent-ok {
	color: #fff !important;
}
 
#contact-form-ctl div.wpcf7-validation-errors {
	border-color: #fff;
}

#contact-form-ctl input::-moz-placeholder {
    color: rgba(255,255,255, 1);
    opacity: 1;
}

#contact-form-ctl input::-webkit-input-placeholder {
    color: rgba(255,255,255, 1);
    opacity: 1;
}


#contact-form-ctl input:-ms-input-placeholder {
   color: rgba(255,255,255, 1);
    opacity: 1;
}

#contact-form-ctl textarea::-moz-placeholder {
    color: rgba(255,255,255, 1);
    opacity: 1;
}


#contact-form-ctl textarea::-webkit-input-placeholder {
    color: rgba(255,255,255, 1);
    opacity: 1;
}


#contact-form-ctl textarea:-ms-input-placeholder {
   color: rgba(255,255,255, 1);
    opacity: 1;
}


#contact-form-ctl .btn-send-form {
	display: inline-block;
	background-color: transparent;
	padding: 12px 20px;
	text-align: center;
	color: #fff;
	border:1px solid #fff;
	min-width: 200px;
}


@media (min-width: 1366px) {
  .container {
    width: 1300px;
  }
}

@media only screen and (max-width:1367px) {
	.top-headers{
		max-width: 550px;
	}

	.black-header, .white-header {
		font-size: 6.2rem;
	}

	.cell-inside .top-text-box {
		max-width: 430px;
	}

	.chemicals-left {
		left: 22%;
	}

	.bottle-rotate {
		left: 43%;
	}

	.archive .news-article .article-inner-header {
		padding-bottom: 30%;
	}

	.single-article .article-inner-header {
		padding-bottom: 30%;
}

}

@media only screen and (max-width:1200px) {
	
	/*Sections*/
	#what-we-do {
		background-color: #fff;
		min-height:600px;
		height: auto;
	}

	.archive .news-article .article-inner-header {
		padding-bottom: 40%;
	}

	
	.button-wrapper-contact {
		padding-left: 0;
	}

	.bottle-rotate {
		left: 41%;
	}

	.chemicals-left {
		left: 16%;
		background-size:90% auto;
		margin-bottom:-30px;
	}

	.three-pippets {
		left: 32%;
	}

	.chemicals-right {
		left: 29%;
		background-size: 90% auto;
		margin-bottom: -36px;
	}

	.top-headers {
		max-width: 465px;
	}

	.cell-inside .top-text-box {
		max-width: 360px;
	}

	.black-header, .white-header {
		font-size: 5.0rem;
	}

	/*.testimonial-header-inside p {
		font-size: 4.0rem;
	}*/

	#triangle-svg {
		height: 210px;
	}

	.chemicals-left .black-filler {
		background-size: 90% auto;
    	bottom: 22px;
   	 	height: 80px;
    	position: absolute;
    	right: 30px;
    	width: 67px;

    	-webkit-transition: none;
    	-o-transition: none;
    	transition: none;
	}

	.bubbles-wrapper {
    	bottom: 32px;
    	height: 65px;
    	left: 22px;
    	width: 74px;
	}

	.button-list li {
		display: block;
		margin-bottom: 8px;
	}

	.button-list li:last-child {
		margin-bottom: 0px;
	}

	.single-article .article-inner-header {
		padding-bottom: 35%;
	}

}


@media only screen and (max-width:1024px) {
	.black-header, .white-header {
		font-size: 5.4rem;
	}

	.jar-white-wrapper {
		top: auto;
		bottom: 180px;
	}

	.bubbles-container {
		opacity: 1;
	}

	.pippet-long-wrapper {
		top: 210px;
	}

	.post-wrapper {
		margin-bottom:90px;
		position: relative;
	}

	.inner-section {
		max-height: 600px;
	}
}


@media only screen and (max-width:1000px) {
	.footer-left, .footer-right {
		width: 10%;
		background-size: 60px auto;
	}

	.footer-middle {
		width: 80%;
	}
}


@media only screen and (max-width:992px) {

	#sidebar {
		width: 60%;
	}

	.ajax-row .cell figure {
		top: 0;
		margin-bottom: 40px;
		transform:translateY(0);
		-webkit-transform:translateY(0);
	}

	.bottles.bottles-right-3,
	.bottles.bottles-right-4
	 {
		display: none;
	}

	.section-top {
		margin-top: auto !important;
	}

	.cell-even {
		float: right;
	}

	/*Sections*/
	#what-we-do{
		min-height: 0;
		padding:20px 0;
	}

	.cell-even {
		float: right;
	}

	.hero-wrapper {
		width: 50%;
	}

	.cell-left, .cell-right {
		display: block;
		height: auto;
		width: 100%;
		float: left;
	}
	.cell-inside {
		display: block;
		margin-bottom: 30px;
		width: 100%;
		float: left;
	}

	.cell-inside .top-text-box.text-box-left {
		width: 100%;
		text-align: center;
	}

	.cell-inside .top-text-box {
		max-width: 100%;
		margin-bottom: 30px;
	}

	.top-headers {
		max-width: 100%;
	}
	.cell-left h1,
	.cell-left h2
	 {
		text-align: center;
		font-weight: 3.5rem;
	}
	.cell-left h1 span,
	.cell-left h2 span
	 {
		display: inline-block;
	}

	#what-we-do .bottom-elements {
		position: relative;
		bottom: -20px;
	}

	.bottle-rotate {
		display: none;
	}

	.bottle-rotate.rotate-me {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}

	.bottles.bottles-right-1 {
		left: 36%;
	}

	.bottles.bottles-right-2 {
		left: 37.5%;
	}

	/*Second section*/
	.line-white {
		display: none;
		height: 0 !important;
	}

	#who-we-are,
	#how-we-do-it,
	#realising-a-return,
	#who-we-do-it-for
	 {
		min-height: 0;
		padding:50px 0;
		height: auto;
	}

	.cell-inside .top-text-box.text-box-right {
		float: left;
		width: 100%;
		text-align: center;
	}

	#who-we-are .bottom-elements {
		position: relative;
		bottom:-50px
	}

	.three-pippets {
		display: none;
	}

	.yellow-pippet-shape {
		display: none;
	}

	.chemicals-right {
		left: 15%;
	}

	.line-wrapper,
	.line-black
	 {
		display: none;
	}

	.line-black {
		height: 0 !important;
	}
	
	.pippet-black-wrapper {
		position: relative;
		bottom: -50px !important;
	}

	.black-jar {
		bottom: 0;
	}
	
	.jar-white-wrapper {
		display: none;
	}

	.bubbles-container {
		display: none;
	}

	.flame,
	#pippet-long-full,
	.mask-pippet
	 {
		display: none !important;
	}

	.right-align-header {
		text-align: center;
	}

	#who-we-do-it-for .bottom-elements {
		position: relative;
		bottom: -50px;
	}

	.slogan-inside {
		max-width: 700px;
	}

	.slogan-inside h2
	 {
		font-size: 4.6rem;
		line-height: 0.9;
	}

	.half-width {
		width: 100%;
	}

	.half-width.orange:before {
		padding-bottom: 0;
		height: 250px;
	}

	.middle.left {
		max-width: 100%;
		padding: 30px;
	}

	.testimonial-header {
		text-align: center;
	}

	.testimonial-header span {
		display: inline-block;
	}


	/*Inside panels*/
	.hero-small {
		margin-bottom: 30px;
	}

	.inside-panel-header h3 {
		text-align: center;
		font-size: 4.5rem;
	}

	.inside-panel-header h3 span {
		display: inline-block;
	}

	.panel-inside-left {
		text-align: center;
	}

	.panel-inside-left p {
		text-align: center;
	}

	.list-inside-home,
	.list-inside-services {
		text-align:center;
		list-style: none;
	}

	.list-inside-home li,
	.list-inside-services li {
		margin-bottom: 10px;
	}


	.button-list {
		overflow: hidden;
		text-align: center;
	}

	.button-list li {
		display: inline-block;
		margin-right: 8px;
	}

	.button-list li:last-child {
		margin-right: 0px;
	}
	.hero-wrapper.hero-small {
		width: 60%;
		top: 0;
		transform:translateY(0);
		-webkit-transform:translateY(0);
	}

	.hero-wrapper.change-size {
		width: 50%;
	}

	.post-main-header .news-header.pull-left,
	.post-main-header .news-header.pull-right {
		width: 100%;
	}

	.social-share-list {
		text-align: center;
		width: 100%;
		margin:20px 0;
	}

	.social-share-list li {
		float: none;
		display: inline-block;
	}

	.data {
		float: none;
		overflow: hidden;
		margin: 0 auto;
	}

	.archive .news-article,
	.news-article .main-inner
	{
		height: auto !important;
	}

	.post-content-inner {
		padding-bottom: 0;
	}

	
	.hero-wrapper {
		margin-bottom: 30px;
	}

	.cell-inside,
	.cell-inside .top-text-box
	 {
		margin-bottom: 0;
	}

	#clients-banner {
		background-attachment: scroll;
	}


}


@media only screen and (max-width: 768px) {
	.black-header, .white-header {
		font-size:4.0rem;
	}

	.row-wrapper .pull-right {
		float: none !important;
	}

	.middle.left h2 {
		font-size: 3.6rem;
	}

	.footer-inside {
		height: auto;
	}

	.footer-left, .footer-right {
		display: none;
	}

	.footer-middle {
		width:100%;
	}

	#sidebar {
		width: 60%;
	}

	.inside-panel-header h3 {
		font-size: 3.6rem;
	}
	
	.footer-header {
		margin-top: 10px;
	}

	.button-wrapper-contact {
		margin-bottom: 10px;
    	margin-top: 10px;
	}

	.footer-header h3 {
		font-size: 3.0rem;
	}

	.footer-header {
		margin-top: 18px;
	}

	#triangle-svg {

		transform:scale(1);
		-webkit-transform:scale(1);
		opacity: 1;

		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}


	#triangle-svg.animate-shape {
		-webkit-animation: none;
	  	-moz-animation: none;
	  	-ms-animation:none;
	}

	.single-article .article-inner-header {
		padding-bottom: 45%;
	}
	
}

@media only screen and (max-width: 640px) {
	.chemicals-right {
		display: none;
	}

	#sidebar {
		width: 70%;
	}

	.black-header, .white-header {
		font-size: 3.6rem;
	}

	.slogan-inside {
		transform:none;
		-webkit-transform:none;
		top: 0;
		max-width: 480px;
		padding: 62px 25px;
	}

	.slogan-inside h2 {
		font-size:3.0rem;
	}

	.hero-wrapper {
		/*width: 60%;*/
	}

	.testimonial-header {
		font-size: 2.6rem;
	}
	
	.half-width::before {
		padding-bottom: 130%;
	}


	.logo > a img {
		height: 40px;
	}


	.button-list li {
		display:block;
		margin-right: 0px;
		margin-bottom: 15px;
	}

	.button-list li a {
		display: block;
	}


	.spacer {
		width: 100%;
	}

	.spacer-left {
		margin-right: 0%;
	}

	.spacer-right {
		margin-left: 0%;
	}

	.footer-header {
		display: none;
	}

	.nav-next,
	.nav-previous {
		float: none;
		width: 100%;
	}

	.nav-previous {
		
		margin-bottom: 20px;
	}

	.news-header {
		font-size: 3.8rem;
	}

	.article-inner-header {
		padding-bottom: 40%;
	}

	.post-type-archive-news .news-header, .post-type-archive-events .news-header {
		font-size: 3.0rem;
	}

	.news-header {
		font-size: 3.0rem;
	}

	.news-smaller-header {
		font-size: 2.2rem;
	}
	

	/*.news-box, .news-box-w {
		height: 600px;
	}*/

	.pagination_container .wp-pagenavi a.previouspostslink, 
	.pagination_container .wp-pagenavi a.nextpostslink {
		display: block ;
	}

	.pagination_container .wp-pagenavi a.previouspostslink {
		margin-bottom: 15px;
	}

	.pagination_container .wp-pagenavi a.nextpostslink {
		margin-top: 15px;
	}

	.archive .news-article .article-inner-header {
		padding-bottom: 60%;
	}


	.single-article .article-inner-header {
		padding-bottom: 50%;
	}

	.post-content-inner {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 0;
	}

	.inner-panel-contact {
		top: 0;
		transform:translateY(0);
		-webkit-transform:translateY(0);
	}

	.inner-section {
    	max-height:400px;
	}
 
	.testimonial-header-inside p {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 480px) {
	.half-width::before {
		padding-bottom: 170%;
	}

	.logo > a img {
		height: 30px;
	}

	#sidebar {
		width: 90%;
	}

	.button-wrapper-contact {
		float: none;
		display: block;
	}

	.contact-us-panel {
		padding: 25px;
	}

	.testimonial-rotator .owl-dots {
		bottom: -40px;
	}

	.single-article .article-inner-header {
		padding-bottom:75%;
	}

	.archive .news-article .article-inner-header {
		padding-bottom:75%;
	}

	.news-box, .news-box-w {
		height: 600px;
	}

	.slogan-inside {
		padding: 52px 25px;
	}
}



@media only screen and (min-width:320px) {
	#clients-banner {
		height: 200px;
	}
}


@media only screen and (min-width:640px) {
	#clients-banner {
		height: 240px;
	}

	.slogan-inside {
		max-width: 800px;
	}

	.slogan-inside h2 {
		font-size: 4.6rem;
	}
}


@media only screen and (min-width:1400px) {
	#clients-banner {
		height: 400px;
	}

	.slogan-inside {
		max-width: 1200px;
	}

	.slogan-inside h2 {
		font-size: 5.6rem;
	}
}

@media only screen and (min-width:1600px) {
	#clients-banner {
		height: 600px;
		
	}

	.slogan-inside {
		max-width: 1300px;
	}

	.slogan-inside h2 {
		font-size: 6.6rem;
	}

}

